html {
  height: 100%;
}

body {
  height: 100%;
  font-family:          Trebuchet MS, Tahoma, sans-serif;
  font-size:            13px;
  margin:               0px;
  padding:              0px;
  background-color: #CCC8C1;
}

table {
  border-collapse:      collapse;
  font-family:          Trebuchet MS, Tahoma, sans-serif;
  font-size:            13px;
  margin:               0px;
}

input {
  font-family:          Trebuchet MS, Tahoma, sans-serif;
  font-size:            13px;
}

td {
  padding: 0;
}

img {
  border: 0;
}

a {
  color: #1678C4;
}

a:hover {
  color: #005393;
}

p {
  text-align: justify;
  margin: 0;
  margin-bottom: 4ex;
}

html>body sup {
  line-height: 0;
  position: relative;
  font-size: 80%;
}

* html sup {
  line-height: 0;
  position: relative;
  font-size: 80%;
  top: -0.2ex;
}

img {
  display: block;
}

/** Main layout */
td#logo {
  width: 116px;
  height: 94px;
}

html>body td#top-space {
  height: 12px;
}

* html td#top-space {
  height: 11px;
}

td#top-stroke-bg {
  background-image: url('../img/top-stroke-bg.gif');
  width: 100%;
}

td#top-header-space {
  background-color: #F6F3EA;
  background-position: top left;
  background-repeat: no-repeat;
}

#menu {
  background-image: url('../img/menu-bg.gif');
  width: 171px;
  height: 333px;
  padding-top: 25px;
}

td#left-space {
  background-image: url('../img/menu-stroke-bg.gif');
  width: 171px;
}

td#content {
  background-color: #F6F4EC;
  background-image: url('../img/content-bg.gif');
  background-position: bottom right;
  background-repeat: no-repeat;
  height: 100%;
  vertical-align: top;
}

td#bottom-stroke-bg {
  background-image: url('../img/bottom-stroke-bg.gif');
  width: 100%;
}

/** Borders */

table.glow-small .cs {
  height: 4px;
  width: 4px;
  background-image: url('../img/glow-small-corner.gif');
}

table.glow-small .hb {
  height: 4px;
  background-image: url('../img/glow-small-tb.gif');
  background-repeat: repeat-x;
}

table.glow-small .vb {
  width: 4px;
  background-image: url('../img/glow-small-lr.gif');
  background-repeat: repeat-y;
}

table.glow-big .cs {
  height: 7px;
  width: 7px;
  background-image: url('../img/glow-big-corner.gif');
}

table.glow-big .hb {
  height: 7px;
  background-image: url('../img/glow-big-tb.gif');
  background-repeat: repeat-x;
}

table.glow-big .vb {
  width: 7px;
  background-image: url('../img/glow-big-lr.gif');
  background-repeat: repeat-y;
}

table.glow-big-sub .cs {
  height: 7px;
  width: 7px;
  background-image: url('../img/glow-big-subtle-corner.gif');
}

table.glow-big-sub .hb {
  height: 7px;
  background-image: url('../img/glow-big-subtle-tb.gif');
  background-repeat: repeat-x;
}

table.glow-big-sub .vb {
  width: 7px;
  background-image: url('../img/glow-big-subtle-lr.gif');
  background-repeat: repeat-y;
}

table.glow .tl {
}

table.glow .tr {
  background-position: right 0;
}

table.glow .bl {
  background-position: 0 bottom;
}

table.glow .br {
  background-position: right bottom;
}

table.glow .t {
}

table.glow .b {
  background-position: 0 bottom;
}

table.glow .l {
}

table.glow .r {
  background-position: right 0;
}

#copyright {
  padding-right: 10px;
  padding-bottom: 3px;
  font-size: 11px;
  color: #808080;
  text-align: right;
}

#copyright a {
  color: #808080;
}

#results-utils a {
  color: #707070;
}

#results-utils {
  position: absolute;
  right: 0;
  top: 0;
  color: #707070;
  padding-top: 3px;
  height: 17px;
  text-align: right;
  font-size: 11px;
  margin-right: 10px;
}

#content {
  padding: 20px 20px 10px 20px;
  line-height: 155%;
}

* html #content {
  line-height: 170%;
}

#heading {
  position: absolute; 
  width: 240px; 
  height: 40px; 
  top: 67px; 
  left: 600px; 
  text-align: right;
}

#heading td {
  vertical-align: bottom; 
  text-align: right; 
}

#heading h1 {
  margin: 0;
  font-size: 30px;
  color: #606060;
}

#menu a {
  display: block;
  text-decoration: none;
  color: #6B6965;
  margin: 0px 10px 5px 15px;
  font-size: 15px;
  font-weight: bold;
  padding-left: 3px;
}

#menu img {
  display: inline;
}

* html #menu a {
  position: relative;
  top: -2px;
}

#menu a:hover, #menu a.active {
  color: #1678C4;
  background-color: #F7EEDB;
}

.menu-bullet {
  position: relative;
  top: 1px;
  margin-right: 2px;
}

.item-heading {
  font-weight: bold;
}


#page-content ul {
  padding-left: 1.5ex;
  margin-left: 1.5ex;
}

#page-content li {
  padding-bottom: 1ex;
}

.side {
  margin-left: 35px; 
  border-left: 1px dotted #808080; 
  padding-left: 15px; 
  width: 170px; 
  text-align: justify;
}

.side h2 {
  font-size: 13px;
  margin: 0;
}

.pic {
  border: 1px solid #d0d0d0;
  padding: 7px;
  margin-bottom: 2px;
}

.donor-logo {
  margin: 5px;
  margin-left: 20px;
}

.author-photo {
  border: 1px solid #707070;
  position: relative;
  top: 7px;
}

p.author-profile {
  margin: 0;
  margin-bottom: 2ex;
}
