html {
  height: 100%;
}

body {
  height: 100%;
  font-family:          Trebuchet MS, Tahoma, sans-serif;
  font-size:            13px;
  margin:               0px;
  padding:              0px;
  background-color: #CCC8C1;
}

table {
  border-collapse:      collapse;
  font-family:          Trebuchet MS, Tahoma, sans-serif;
  font-size:            13px;
  margin:               0px;
}

input {
  font-family:          Trebuchet MS, Tahoma, sans-serif;
  font-size:            13px;
}

td {
  padding: 0;
}

img {
  border: 0;
}

a {
  color: #1678C4;
}

a:hover {
  color: #005393;
}

a.name, a.name:hover {
  color: black;
}

hr {
  height: 1px;
  color: #e0e0e0;
  background-color: #e0e0e0;
  border: 0;
  margin: 0;
  padding: 0;
  margin: 2ex 0;
}

p {
  text-align: justify;
  margin: 0;
  margin-bottom: 4ex;
}

span.tt {
  font-family: monospace;
  font-size: 90%;
}

html>body sup {
  line-height: 0%;
  position: relative;
  font-size: 80%;
}

* html sup {
  line-height: 0%;
  position: relative;
  font-size: 80%;
  top: -0.2ex;
}

img {
  display: block;
}

h2 {
  margin: 0;
  font-size: 15px;
  margin-bottom: 1.5ex;
}

/** Main layout */
td#logo {
  width: 116px;
  height: 94px;
}

html>body td#top-space {
  height: 12px;
}

* html td#top-space {
  height: 11px;
}

td#top-stroke-bg {
  background-image: url('../img/top-stroke-bg.gif');
  width: 100%;
}

td#top-header-space {
  background-color: #F6F3EA;
  background-position: top left;
  background-repeat: no-repeat;
}

#menu {
  background-image: url('../img/menu-bg.gif');
  background-repeat: no-repeat;
  width: 171px;
  height: 333px;
  padding-top: 25px;
}

td#left-space {
  background-image: url('../img/menu-stroke-bg.gif');
  width: 171px;
}

td#content {
  background-color: #F6F4EC;
  background-image: url('../img/content-bg.gif');
  background-position: bottom right;
  background-repeat: no-repeat;
  height: 100%;
  vertical-align: top;
}

#content-inner {
  line-height: 155%;
  padding: 25px 20px 10px 20px;
  width: 650px; 
  margin-right: auto;
  background-image: url('../img/content-top-bg.gif');
  background-position: top left;
  background-repeat: no-repeat;
}

td#bottom-stroke-bg {
  background-image: url('../img/bottom-stroke-bg.gif');
  width: 100%;
}

#copyright {
  padding-right: 10px;
  padding-bottom: 3px;
  font-size: 11px;
  color: #808080;
  text-align: right;
  vertical-align: bottom;
}

#copyright a {
  color: #808080;
}

#results-utils a {
  color: #707070;
}

#results-utils {
  position: absolute;
  right: 0;
  top: 0;
  color: #707070;
  padding-top: 3px;
  height: 17px;
  text-align: right;
  font-size: 11px;
  margin-right: 10px;
}

* html #content {
  line-height: 170%;
}

#heading {
  position: absolute; 
  width: 240px; 
  height: 40px; 
  top: 67px; 
  left: 600px; 
  text-align: right;
}

#heading td {
  vertical-align: bottom; 
  text-align: right; 
}

#heading h1 {
  margin: 0;
  font-size: 30px;
  color: #606060;
}

#menu a {
  display: block;
  text-decoration: none;
  color: #6B6965;
  margin: 0px 10px 5px 15px;
  font-size: 15px;
  font-weight: bold;
  padding-left: 3px;
}

#menu img {
  display: inline;
}

* html #menu a {
  position: relative;
  top: -2px;
}

#menu a:hover, #menu a.active {
  color: #1678C4;
  background-color: #F7EEDB;
}

#menu a.hot {
  color: #d00;
}

.menu-bullet {
  position: relative;
  top: 1px;
  margin-right: 2px;
}

.item-heading {
  font-weight: bold;
}


#content ul, #content ol {
  margin: 0;
  padding: 0;
  margin-top: 2ex;
  margin-bottom: 2ex;
  padding-left: 3ex;
  margin-left: 3ex;
}

li ul, li  ol {
  margin-bottom: 0ex;
}

#content li {
  padding-bottom: 1ex;
}

#content ul.compact li {
  padding-bottom: 0ex;
}

#content ul.morecompact, ol.morecompact {
  margin: 0;
  padding: 0;
  margin-top: 4pt;
  margin-bottom: 4pt;
  padding-left: 3ex;
  margin-left: 3ex;
}

ul.morecompact li, ol.morecompact li {
    padding: 0px;
    margin: 0px;
}

ul.morecompact li p, ol.morecompact li p {
    padding: 0px;
    margin: 0px;
}

.side {
  margin-left: 35px; 
  border-left: 1px dotted #808080; 
  padding-left: 15px; 
  width: 170px; 
  text-align: justify;
}

.side h2 {
  font-size: 13px;
  margin: 0;
}

.pic {
  border: 1px solid #d0d0d0;
  padding: 7px;
  margin-bottom: 2px;
}

td.donor-logo { 
  vertical-align: middle;
  padding-right: 15px;
  padding-bottom: 30px;
  text-align: center;
}

td.donor-text {
  vertical-align: middle;
  padding-bottom: 30px;
}

.author-photo {
  border: 1px solid #707070;
  position: relative;
  top: 7px;
}

p.author-profile {
  margin: 0;
  margin-bottom: 2ex;
}

.c2element {
  font-family: monospace;
}

/** Publications */

.publication-list .title {
  font-style: italic;
}

.publication-list .authors {
  font-variant: small-caps;
  font-size: 110%;
}

.publication-list .links {
  margin-top: 3px;
  display: block;
}

.publication-list li {
  margin-bottom: 3ex;
}

.publication-list .links a {
  padding-right: 15px;
}

html>body sub.bt {
  font-size: 100%;
}

* html sub.bt {
  font-size: 100%;
}

.publication-list img {
  display: inline;
}

/** Algorithms overview */
table.algorithms {
  width: 100%;
}

table.algorithms th {
  background-color: #e8e8e8;
}

table.algorithms td, table.algorithms th {
  border: 1px solid #d0d0d0;
  padding: 4px;
  text-align: center;
}

html>body .app-pic {
  margin-bottom: 30px;
}

/** FAQ */
div.q {
  font-weight: bold;
  margin-bottom: 1ex;
}

div.a p {
  margin-bottom: 2ex;
}

img.valid {
  display: inline;
  margin-left: 7px;
  float: right;
}

div.qa {
  margin-bottom: 4ex;
  clear: both;
}

div.qa-index {
  margin-bottom: 6ex;
}

div.qa-index a {
}

.rn-side {
  float: right; 
  margin-left: 10px; 
  text-align: right; 
  text-decoration: underline;
}

.cmd-line, .codeblock {
  border: 1px solid #c0c0c0;
  background-color: #f0f0f0;
  padding: 0.5ex;
  font-family: Courier, monospace;
  margin: 2ex 0;
}

.release-notes .codeblock {
  width: 440px;
}

.gui-label {
  font-family: Tahoma, sans-serif;
  font-weight: bold;
}

/** Release notes */
table.release-notes {
  margin-top: 2ex;
}

table.release-notes td {
  padding-bottom: 2ex;
}

table.release-notes tr:last-child td {
  padding-bottom: 0;
}

table.download tr:first-child td,
table.release-notes tr:first-child td {
  padding-top: 0;
}

table.release-notes td.head {
  font-weight: bold;
  width: 14em;
  vertical-align: top;
  text-align: right;
  padding-right: 1em;
}

table.source-code td.head {
  width: 12em;
}

table.download {
  width: 100%;
}

table.download td {
  padding-bottom: 2ex;
  padding-top: 2ex;
  vertical-align: top;
  border-bottom: 1px solid #e0e0e0;
}

table.download td.head {
  width: 400px;
  width: 14em;
  padding-right: 1em;
}

table.download li,
table.download ul {
  margin: 0 0 0 2ex !important;
  padding: 0 !important;
}

table.download img.pic {
  border: 1px solid #e0e0e0;
}

#buildStatus strong {
  display: none;
}

#buildStatus p {
  line-height: normal;
  background-position: left 2px;
  padding: 0 0 0 20px;
}

#buildStatusInner3 {
  min-height: 0;
}

img.rn {
  margin: 2ex 0;
}

a.button {
  background-repeat: no-repeat;
  display: block;
  width: 90px;
  height: 26px;
  text-decoration: none;
}

a.download {
  background-image: url("../img/button-download.png");
}
a.view {
  background-image: url("../img/button-view.png");
}

a.button-large span,
a.button span {
  visibility: hidden;
}

#main-download {
  margin-bottom: 10px;
  width: 186px;
  height: 37px;
  background-image: url("../img/button-download-large.png");
  display: inline-block;
  margin-bottom: 0px;
}

div.small-links {
  clear: both;
  padding-top: 3px;
  line-height: 1.15;
}

.small,
.small a,
a.small {
  color: #808080;
  font-size: 10px;
  font-weight: normal;
  text-decoration: none;
}

.small a:hover,
a.small:hover {
  text-decoration: underline;
}

table.release-notes a.button {
  float: right;
  margin-top: 4px;
}

#download-info {
  margin-top: 4ex;
}

#download-info ul,
#download-info ol {
  margin-left: 0;
}

p.note {
  font-size: 11px;
  color: #404040;
  text-align: left;
}

/** Bamboo build status */
#buildStatus
{
  font-family:          Trebuchet MS, Tahoma, sans-serif;
  font-size: 100%;
	background-image: none;
  color: black;
  position: relative;
  left: -12px;
}

#buildStatus strong {
  font-weight: normal;
}

#buildStatusInner
{
	background-image: none;
}

#buildStatusInner2
{
	background-image: none;
}

#buildStatusInner3
{
	background-image: none;
}

body#forum #content-inner {
  width: auto;
  padding: 0;
}
